*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.menu {

    display: flex;
    justify-content: space-between;
    margin-top:10px;
    font-family: Nunito Sans,sans-serif;
    text-transform: uppercase;
    
}
.menu2 {

    display: flex;
    justify-content: space-between;
    margin-top:10px;

}


.gauche ul {
    
    margin-left: 140px;
    
   

}

.gauche ul li{
    display: inline-block;
    margin-right: 30px;
    list-style: none;
}

.gauche ul li a {
    color:black;
    text-decoration: none;
}
    

.droite ul{
    margin-right: 200px;
}

.droite ul li {
    display: inline-block;
    margin-right: 10px;
    list-style: none;
}

.droite ul li a {
    color:black;
}

.logo img {
    margin-top : 40px;
    margin-left: 140px;
}

.droite_bas ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top:40px;
}

.droite_bas ul{
    margin-right: 200px;
}

.droite_bas ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Nunito Sans,sans-serif;
    text-transform: uppercase;
}

.droite_bas ul li a:hover{
    color:red;
    
}
.droite_bas ul li a:after{
    content: '\f077';
    margin: 20px;
    font-family: FontAwesome;
}



h2 {
    text-align: center;
    font-style: solid;
    font-size: 39px;
    line-height: 45px;
    font-weight: 900;
    font-family: Nunito Sans,sans-serif;
    padding-top: 2%;
}

.hyperlinkrose {
    color: #ce0033;
}

p.textcenter {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 81.5%;
    padding-left: 18%;
    font-style: initial;
    font-family: Nunito Sans,sans-serif;
}

#accessibilité_text {
    background-color: #f1f5f8;
    padding-bottom: 100px;
    
}


section {
    display: block;
    
}

.breadcrumb-item a {
    padding: 8px;
    background-color: white;
    color: black;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 138px;
}

.header-content {
    padding-bottom: 8.5%;
    padding-right: 8.5%;
    padding-left: 8.5%;
    padding-top: 1%;
    font-family: Nunito Sans,sans-serif;
    font-size: 32px;
}


#main .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

main {
    height: 267px;
    background-color: #ce0033;
    color: #ffffff;
}

.header-red .container-background {
    position: absolute;
    right: 7%;
    top: 20%;
    content: url("https://simplon.co/images/simplon-pictogramme-isotype-blanc-rvb-1.svg");
    transform: translateY(-50px);
    opacity: 0.2;
}

.titrepara2 {
    padding-top: 10px;
    width: 81.5%;
    padding-left: 19%;
}

#faqnewsletter {
    display: flex;
    width: 100%;
    padding-left: 19%;
    text-align: center;
    padding-bottom: 2%;
}

.boite1 {
    background-color: #f1f5f8;
    width: 35%;
    padding-bottom: 5%;
}

.boite2 {
    background-color: #ce0033;
    width: 35%;
}

.anti-faq {
    background-color: #ce0033;
    width: 50%;
    height: 25%;
    border: 0px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: large;
    color: white;
    float: left;
}

.cheatboite {
    width: 5%;
    background-color: white;
    padding-bottom: 20%;
}

.questions {
    width: 80%;
    padding-bottom: 7%;
}

footer {
    background: #ce0033;
    width: 100%;
}

footer img {
    color: #fff;
    font-size: 20px;
    
    width: 100%;
    display: block;
    padding: 2.5%;

}
.buttons nav {
    position: relative;
}
.buttons ul {
    list-style-type:none;
    display: flex;
}
.buttons nav ul li > a{
    color: white;
    padding: 2.5%;
    text-align: center;
    text-decoration: none;
    display: flex;
}

/*.footer_logo    {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    justify-content: center;
}*/


.textboite2 {
    color: white;
    padding-right: 30%;
    font-size: large;
    padding-bottom: 5%;
}

.informes {
    color: white;
    padding-right: 19%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 2%;
}

.sinscrire {
    width: 100%;
    height: 100%;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: large;
    color: #ce0033;
    background-color: white;
    
}

#emailnewsletter {
    display: flex;
    width: 100%;
    padding-left: 10%;
}

.boite2v1 {
    padding-right: 5%;
}

input {
    padding-top: 5%;
    padding-bottom: 5%;
}

.sinscrire:hover {
    background-color: rgb(192, 192, 192);
}

.anti-faq:hover {
    background-color: #860122;
}

.container{
    font-family: Nunito Sans,sans-serif;
    padding-top: 0.5%;
}

#direction{
    padding-bottom: 2%;
}

#contacter{
    padding-bottom: 2%;
}

.buttons{
    font-family: Nunito Sans,sans-serif;
    width: 100%;
}

